/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Css Reset Ends */

.head {
	background-color: black;
	color:white;
	padding: 20px 40px;
}
.navi {
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	padding: 2px;
}
.head-nav {
	display: inline-block;
	float: right;
	padding: 10px;

}
.nav1 {
	text-align: right;
}
.logo {
	text-decoration: none;
	text-transform: lowercase;
	color: red;
	font-size: 20px;

}
.head-bod {
	padding: 80px 0px;
}
.h1-1 {
	text-transform: uppercase;
	font-size: 28px;
}
.p1 {
	padding: 40px 1300px 40px 0px;
}

.box1 {
	text-transform: uppercase;
	border: 2px solid white;
	padding: 8px  15px 8px 15px;
	font-size: 12px;
	font-weight: bold;
}
.m1 {
	background-color: white;
	color:black;
	padding: 80px 40px;
}
.h1-2 {
	text-transform: uppercase;
	font-size: 28px;
	color: red;
}
.p2 {
	padding: 40px 10px 40px 0px;
	line-height: 1.5;
}

.box2 {
	text-transform: uppercase;
	border: 2px solid red;
	padding: 8px  15px 8px 15px;
	font-size: 12px;
	font-weight: bold;
	color: red;
}

.m2 {
	background-color: lightgray;
	color:black;
	padding: 80px 40px;
	text-align: center;
}
.h1-3 {
	text-transform: uppercase;
	font-size: 28px;
	color: red;
}
.cir {
	display: inline-block;
	height:200px;
	width:200px;
	border-radius: 50%;
	background-color: red;
	margin: 20px;
}
.foot {
	background-color: red;
	color:white;
	padding: 80px 40px;
}
.p4 {
	padding: 40px 10px 40px 0px;
	line-height: 1.5;
}
.h1-4 {
	text-transform: uppercase;
	font-size: 28px;
	color: white;
	font-weight: bolder;
}
.p5 {
	text-transform: uppercase;
	font-size: 18px;
	color: white;
	margin: 20px 0;
}

.box3 {
	display:inline-block;
	text-transform: uppercase;
	border: 2px solid white;
	padding: 8px  15px 8px 15px;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
	cursor: pointer;
}
.box3 a {
	text-decoration:none;
	color: white;
}
.b31 {
	border: 1px solid white;
	height: 40px;

}
.b32 {
	border: 1px solid white;
	height: 250px;
}
.p6 {
	text-transform: lowercase;
	font-size: 18px;
	color: white;
	margin-top: 30px;
}